img {
	width:35%;
}
.link-button {
	background-color: transparent;
	font-family: helvetica;
	font-size:1.5em;
	border:white;
	color: gray;
}

.link-button:hover {
	background-color:white;
	color:navy;
}

.professional {
	float: right;
}

.martial-arts, .maiss, .other-info {
	padding: 50px 20px 70px 20px;
	margin:0.75em;
}


.martial-arts {
	background-color: rgb(41, 149, 188);
}

.maiss {
	background-color: rgb(35, 186, 145);
}

.other-info {
	background-color: rgb(35, 186, 100);
}

.title-section {
	text-align: center;
	color:white;
}

.description {
	color: white;
	text-align: justify;
	text-justify: inter-word;
	font-size: 1.3em;
}

.section{
	color:white;
	font-size:1.25em;
}

.image1{
	left: 10%;
	position:relative
}

.image2{
	left: 20%;
	position: relative;
}

.learn-more-button{
	padding: .75em 1.25em;
	background-color:transparaent;
	color: white;
	width: 7.5em;
	font-family: helvetica;
	text-align: center;
	border: white 1px solid;
	left: 10%;
	position: relative;
	margin: 10px 0px 10px 0px;;
}


